[importlinter]
root_packages =
    geo_document_intelligence
    entrypoints
    tests

[importlinter:contract:do_not_import_from_entrypoints]
name = Do not import from entrypoints
type = forbidden
source_modules =
    geo_document_intelligence
forbidden_modules =
    entrypoints

[importlinter:contract:adapters_and_use_cases_are_independent]
name = Adapters and use cases are independent
type = independence
modules =
    geo_document_intelligence.ai.*.core.use_cases
    geo_document_intelligence.ai.*.adapters


[importlinter:contract:adapters_tests_do_not_import_from_use_cases]
name = Adapter tests do not import from use cases
type = forbidden
source_modules =
    tests.geo_document_intelligence.ai.*.adapters
forbidden_modules =
    geo_document_intelligence.ai.*.core.use_cases

[importlinter:contract:use_case_tests_do_not_import_from_adapters]
name = Use case tests do not import from adapters
type = forbidden
source_modules =
    tests.geo_document_intelligence.ai.*.core.use_cases
forbidden_modules =
    geo_document_intelligence.ai.*.adapters