torch~=2.6.0
torchvision~=0.21.0
sam2~=1.1.0
numpy~=2.2.4
fastapi[standard]~=0.115.12
google-cloud-storage~=3.1.0
shapely~=2.0.7
pdf2image~=1.17.0
opencv-python-headless~=4.11.0.86
huggingface-hub~=0.30.1